.container {
    height: 60px;
    padding: 0px 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.item:last-child {
    justify-content: flex-end;
}

.texts {
    margin-left: 20px;
    color: white;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem {
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
    color : white;
}