.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-container input {
    padding : 5px;
    border : 1px solid gray;
    border-radius : 5px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }